.search-container{
    width: 80%;
}
.search-container input[type=text]{
    width: 80%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
}
.search-container input[type=text]:focus{
    border-color: #e67e22;
}
.search-button{
    width: 40px;
    height: 40px;   
    color: #e67e22;
    cursor: pointer;
    border: none;
    background-color: #fff;

}

.search-button:hover{
    border-bottom: solid #e67e22 2px;
}
 .main_wrapper{
                width: 1000px;
                height: auto;
                margin: auto;
             }


section{
	width: 100%;
}
.logo-desktop{
		display: inline-block;
		text-align: justify;
		width: 200px;
		height: 40px;		
		float: left;
		padding-top: 10px;
		margin: 0 auto;	
        margin-top: 5%;	
	}
	.logo-desktop a{
		font-size: 25px;
		color: #000;
		text-decoration: none;
	}
	.logo-desktop b{
		color: #e67e22;
		font-family: 'Baloo Da', cursive;
	}

    table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: gray;}
tr:nth-child(even){background-color: white;}

#left{
width: 795px;
height: auto;
float: right;

}
#right{
position: fixed;
width: 200px;
height: 800px;
float: left;
background: white;
border-right: 5px groove orange;

}
#right a{
    text-decoration: none;
    color: gray;
    text-align: left;
    font-size: 18px;
    font-family: COMIC SANS MS;
    margin: 6px;
    padding: 6px;
    display: block;
}
#right a:hover{
 text-decoration: underline;
 font-weight: bolder;
 color: orange;   
}